@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:	#DC143C ;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 80%;
    width: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0);
    background-color: white;
}
#entrada {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: 250ms;
    padding-top: 10px;
}
#btn_salvar {
    padding: 10px;
    width: 50%;
    transition: 250ms;
    border: none;
}

#btn_salvar:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    cursor:pointer;
}

#btn_limpar {
    padding: 10px;
    width: 50%;
    transition: 250ms;
    border: none;
    
}

#btn_limpar:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    cursor:pointer;
}

#resposta {
    width: 100%;
    outline: none;
    padding: 3px;
}